/* Default styles first then media queries */
html, body {
    background-attachment: fixed;
    height: unset;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

md-content {
    overflow: initial;
    background-color: transparent;
}

.add-page {
    width: 400px;
}

.add-page .torrent-input-box {
    width: 75%;
    height: 80px;
}

.add-page .torrent-input-box label,
.add-page .torrent-input-box input {
    text-shadow: none;
    color: #FF7043;
    border-color: #FFAB91;
    font-size: 14.3pt;
}

.torrents-page {
    padding: 35px 0;
}

.torrents-page h1 {
    margin: 40px;
}

.torrent {
    opacity: 0.5;
    padding: 0 0;
    line-height: 48px;
    position: relative;
    width: 700px;
}

.torrent .open-button {
    left: -55px;
    position: absolute;
    opacity: 0;
}

.torrent:hover .open-button {
    opacity: 1;
}

.torrent:hover {
    opacity: 1;
}

.filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.panels > * {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

.zip-download {
    vertical-align: -13px;
}

/* Media queries style */
@media screen and (min-width: 400px)  {
  .add-page .torrent-input-box {
      width: 80%;
  }
}
@media all and (min-width: 600px)  {
  .add-page .torrent-input-box {
      width: 65%;
  }
}
@media all and (min-width: 1000px) {
  .add-page .torrent-input-box {
      width: 50%;
  }
}
@media all and (min-width: 1400px) {
  .add-page .torrent-input-box {
      width: 35%;
  }
}
